<!DOCTYPE html>
<html>
<head>
    <title>Video Downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Video Downloader</h1>
        <form action="/download" method="post">
            <input type="text" name="url" placeholder="Enter video URL" required>
            <label for="download_video">Download Video:</label>
            <input type="checkbox" id="download_video" name="download_video">
            <label for="download_audio">Download Audio:</label>
            <input type="checkbox" id="download_audio" name="download_audio">
            <input type="submit" value="Download">
        </form>
    </div>
</body>
</html>
